:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#f8f8f8; 
--blue_A400_01:#1977f3; 
--gray_50_02:#f5f8fb; 
--blue_A400:#0f6eff; 
--red_600:#e52d27; 
--yellow_800:#f29a2e; 
--indigo_50_01:#e4eaf2; 
--gray_200_01:#eaeaea; 
--gray_200_02:#f0f0f0; 
--blue_gray_700:#4b4f56; 
--gray_600:#808080; 
--black_900_4c:#0000004c; 
--gray_400:#b3b3b3; 
--blue_gray_100:#d7d7d7; 
--blue_A700_19:#0e6dff19; 
--red_A200:#ff4f4f; 
--amber_700:#eda500; 
--gray_200:#e8e8e8; 
--blue_50:#d9e6ff; 
--black_900_99:#00000099; 
--gray_100_01:#f5f5f5; 
--amber_700_01:#d1a307; 
--white_A700:#ffffff; 
--indigo_600:#41479b; 
--deep_orange_50:#ffdede; 
--deep_purple_900:#2b22a4; 
--blue_gray_100_89:#d9d9d989; 
--red_500:#fb3e3e; 
--green_800:#317c2e; 
--green_600:#2b9f5a; 
--gray_50:#f6f9ff; 
--amber_A400:#fec400; 
--blue_gray_200_01:#abb5c2; 
--black_900:#000000; 
--gray_500_01:#999999; 
--yellow_900:#ff8617; 
--blue_50_01:#dae6ff; 
--black_900_28:#00000028; 
--amber_800:#ff8c00; 
--gray_700:#5f5f5f; 
--blue_gray_200:#abb5c4; 
--gray_500:#a4a4a4; 
--gray_600_01:#757575; 
--blue_gray_400:#8b8b8b; 
--blue_800:#004ad7; 
--indigo_50:#e7eaf0; 
--gray_900:#001638; 
--gray_900_01:#0b1a33; 
--green_50:#e1ffe0; 
--gray_300:#d9dde2; 
--orange_300:#ffb862; 
--orange_100:#ffd6a5; 
--gray_100:#f3f3f3; 
--orange_50:#fff8e0; 
--gray_900_7f:#0b1a337f; 
--white_A700_01:#fdfdff; 
--blue_50_4c:#e7f0ff4c; 
--indigo_900:#1b3f67; 
}